/* 
Background and Font 
==================================== */
* {
    margin: 0;
    padding: 0;
}
 
.container {
    font-family: 'Verdana', sans-serif;
}
 
.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(179, 0, 89), rgba(179, 0, 0, 90));
    background-size: cover;
}
 
/* Heading */
h1 {
    text-align: center;
    font-family: 'Verdana', sans-serif; /* Won't change for some reason */
}

/* Hamburger Menu */ 

.hamburger-menu {
    width: 45px;
    height: 35px;
    position: fixed;
    top: 40px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}
 
.line {
    width: inherit;
    height: 5px;
    background-color: #000;
    border-radius: 25px;
    transform-origin: right;
    transition: transform .5s;
}
 
.line-2 {
    height: 3px;
}
 
.change .line-1 {
    transform: rotateZ(-45deg);
}
 
.change .line-2 {
    transform: translate(5px, 20px);
}
 
.change .line-3 {
    transform: rotateZ(45deg);
}
 
/* Main Navigation Menu */

.top-nav {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: -15vh;
    z-index: 50;
    transition: top .4s;
}
 
.change .top-nav {
    top: 0;
}
 
.nav-list {
    list-style: none;
    width: 80%;
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
.nav-link {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: #ccc;
    background-color: #000;
    letter-spacing: 1px;
    padding: 5px 10px;
    display: block;
    position: relative;
   
}

/* Rotates nav links upside down */ 
.nav-link:hover { 
    transform: rotateX(150deg);
}
 
 
/* Images 
==================================== */

/* Creates the image grid 8x8 */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
    
}

/* Styles all of images */
.images {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

/* Styles first image */
.image-1 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 7;
}

.image-2 {
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 7;
}

.image-3 {
    grid-column-start: 5; 
    grid-column-end: 7; 
    grid-row-start: 1; 
    grid-row-end: 7;
}


.image-4 {
    grid-column-start: 7; 
    grid-column-end: 9; 
    grid-row-start: 1; 
    grid-row-end: 7;
}

/* start second row */
.image-5 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 7; 
    grid-row-end: 12;
}

.image-6 {
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 7; 
    grid-row-end: 12;
}

.image-7 {
    grid-column-start: 5; 
    grid-column-end: 7; 
    grid-row-start: 7; 
    grid-row-end: 12;
}

.image-8 {
    grid-column-start: 7; 
    grid-column-end: 9; 
    grid-row-start: 7; 
    grid-row-end: 12;
}



/* 
Media Queries
==================================== */


 /* Properties for smaller screens  */
@media(max-width: 1200px) {
    
 
    .nav-list {
        justify-content: center;
    }
 
    .nav-link {
        font-size: 25px;
        margin-right: 100px; 
    }
 
}
 
@media(max-width: 900px) {
  
    .top-nav {
        height: 25vh;
        top: -25vh;
    }
 
    .nav-list {
        width: 70%;
        flex-wrap: wrap;
        align-content: center;
    }
 
    .nav-link {
        margin: 3px 0;
        margin-right: 50px; 
    }
 
}

@media(max-width: 750px) {
    .nav-list {
        width: 60%;
    }
 
}
 
@media(max-width: 550px) {
 
    .logo {
        width: 70px;
        height: 70px;
        left: 30px;
    }
 
    .top-nav {
        height: 30vh;
        top: -30vh;
    }
 
}
 
@media(max-width: 450px) {
   
 
    .top-nav {
        height: 35vh;
        top: -35vh;
    }
 
    .nav-list {
        width: 50%;
    }
}

/* 
Main Navigation Menu 
==================================== */
* {
    margin: 0;
    padding: 0;
}
 
.container {
    font-family: 'Montserrat', sans-serif;
}
 
.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(179, 0, 89), rgba(179, 0, 0, 90));
    background-size: cover;
}
 
.logo {
    height: 80px;
    width: 80px;
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 100;
}
 
.logo img {
    width: 100%;
}
 
.hamburger-menu {
    width: 45px;
    height: 35px;
    position: fixed;
    top: 40px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
}
 
.line {
    width: inherit;
    height: 5px;
    background-color: #000;
    border-radius: 25px;
    transform-origin: right;
    transition: transform .5s;
}
 
.line-2 {
    height: 3px;
}
 
.change .line-1 {
    transform: rotateZ(-45deg);
}
 
.change .line-2 {
    transform: translate(5px, 20px);
}
 
.change .line-3 {
    transform: rotateZ(45deg);
}
 
.top-nav {
    height: 15vh;
    width: 100%;
    position: fixed;
    top: -15vh;
    z-index: 50;
    transition: top .4s;
}
 
.change .top-nav {
    top: 0;
}
 
.nav-list {
    list-style: none;
    width: 80%;
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
.nav-link {
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    color: #ccc;
    background-color: #000;
    letter-spacing: 1px;
    padding: 5px 10px;
    display: block;
    position: relative;
   
}
 
.nav-link:hover {
    transform: rotateX(90deg);
}
 
.bottom-nav {
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
    background-size: cover;
    position: fixed;
    bottom: -85vh;
    transition: bottom .4s;
}
 
 
/* 
Media Queries
==================================== */

 /* Properties for smaller screens  */
@media(max-width: 1200px) {
    
 
    .nav-list {
        justify-content: center;
    }
 
    .nav-link {
        font-size: 25px;
        margin-right: 100px; 
    }
 
}
 
@media(max-width: 900px) {
  
    .top-nav {
        height: 25vh;
        top: -25vh;
    }
 
    .nav-list {
        width: 70%;
        flex-wrap: wrap;
        align-content: center;
    }
 
    .nav-link {
        margin: 3px 0;
        margin-right: 50px; 
    }
 
}
*/
@media(max-width: 750px) {
    .nav-list {
        width: 60%;
    }
 
}
 
@media(max-width: 550px) {
 
    .logo {
        width: 70px;
        height: 70px;
        left: 30px;
    }
 
    .top-nav {
        height: 30vh;
        top: -30vh;
    }
 
}
 
@media(max-width: 450px) {
   
 
    .top-nav {
        height: 35vh;
        top: -35vh;
    }
 
    .nav-list {
        width: 50%;
    }
}